.page {
    height: 100%;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    line-height: 18px;
    margin: 0;

    @media (min-width: $tablet-width) {
      background-color: $background;
      padding-bottom: 70px;
  }
  }
  
  .page__body {
    margin: 0;
    min-width: $mobile-width;
  }