$black: #000000;
$white: #FFFFFF;

// base
$white70: rgba(255, 255, 255, 0.7);
$white40: rgba(255, 255, 255, 0.4);
$blue: #3D3BFF;
$grey: #657195;
$grey-border: #E6E8F0;
$purple: #8B89FF;
$background: #FAFBFE;
$shadow: rgba(168, 175, 196, 0.3);
