.container {
    box-sizing: border-box;
    width: 320px;
    margin: 0 auto;
    padding: 0 25px;
  
    @media (min-width: $tablet-width) {
      width: 465px;
      padding: 0;
    }
  
    @media (min-width: $desktop-width) {
      width: 415px;
    }
  }