@mixin font($font-size, $line-height, $font-weight, $letter-spacing : normal) {
    font-size: $font-size;
    line-height: $line-height;
    font-weight: $font-weight;
    letter-spacing: $letter-spacing;
  }